@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&family=Inter:wght@300;400;500&display=swap');

:root {
    --lime: #BEFF00;
    --lime-dim: #9AD400;
    --lime-glow: rgba(190, 255, 0, 0.12);
    --bg-deep: #0D0E0A;
    --bg-card: #161710;
    --bg-card2: #1C1F12;
    --bg-surface: #22261A;
    --text-primary: #F0F2E8;
    --text-muted: #8A9070;
    --text-dim: #5A6040;
    --border: rgba(190, 255, 0, 0.12);
    --border-dim: rgba(255,255,255,.06);
    --radius:16px;
    --radius-sm:10px;
}

*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:Inter;
background:
radial-gradient(
circle at top,
rgba(190,255,0,.08),
transparent 30%
),
var(--bg-deep);

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

padding:20px;

color:var(--text-primary);

}


.login-card{

width:500px;

padding:40px;

border-radius:30px;

background:
linear-gradient(
145deg,
var(--bg-card),
var(--bg-card2)
);

border:1px solid var(--border);

box-shadow:
0 0 50px rgba(0,0,0,.5),
0 0 40px var(--lime-glow);

transition:.4s;

}


.login-card:hover{

transform:
translateY(-4px);

}


.logo{

width:75px;
height:75px;

border-radius:50%;

display:flex;
align-items:center;
justify-content:center;

font-size:30px;
font-weight:700;

font-family:Poppins;

color:var(--lime);

border:2px solid var(--lime);

box-shadow:
0 0 25px var(--lime-glow);

margin-bottom:25px;

}


h1{

font-family:Poppins;

font-size:45px;

margin-bottom:10px;

}


p{

color:var(--text-muted);

margin-bottom:35px;

line-height:1.6;

}



.field{

display:flex;

flex-direction:column;

margin-bottom:22px;

gap:12px;

}


.field label{

color:var(--lime);

font-weight:600;

}


.field input{

height:58px;

padding:0 18px;

background:var(--bg-surface);

border:1px solid var(--border);

border-radius:var(--radius-sm);

color:white;

outline:none;

font-size:15px;

}


.field input:focus{

border-color:var(--lime);

box-shadow:
0 0 20px var(--lime-glow);

}



.password-box{

position:relative;

}


#eye{

position:absolute;

right:18px;

top:18px;

cursor:pointer;

opacity:.7;

}



.extra{

display:flex;

justify-content:space-between;

margin:20px 0;

font-size:14px;

}


.extra a{

color:var(--lime);

text-decoration:none;

}


button{

width:100%;

height:60px;

border:none;

border-radius:14px;

background:var(--lime);

font-size:18px;

font-weight:700;

cursor:pointer;

transition:.4s;

}


button:hover{

transform:translateY(-3px);

box-shadow:
0 0 30px var(--lime);

}


.outline{

margin-top:20px;

background:transparent;

border:1px solid var(--lime);

color:var(--lime);

}


.divider{

display:flex;

align-items:center;

margin:25px 0;

color:var(--text-dim);

}


.divider:before,
.divider:after{

content:"";

flex:1;

height:1px;

background:var(--border);

}


.divider span{

padding:0 20px;

}


small{

display:block;

text-align:center;

margin-top:30px;

color:var(--text-dim);

line-height:1.8;

}